#cart-block {
  font-family: var(--e-global-typography-text-font-family) !important;
  .woocommerce-cart-form {
    .shop_table {
      thead {
        tr {
          background: var(--e-global-color-primary) !important;
          th {
            color: var(--e-global-color-3476459);
            .screen-reader-text {
              color: var(--e-global-color-3476459);
            }
          }
        }
      }
      tbody {
        .product-name {
          a {
            color: var(--e-global-color-secondary);
          }
        }
        .quantity {
          .input-text {
            width: 80px !important;
            &:focus-visible {
              outline: none !important;
            }
          }
        }
      }
    }
    button[name="apply_coupon"] {
      padding: 12px;
    }
  }
  .cart_totals {
    table {
      th {
        color: var(--e-global-color-text);
      }
    }
    .checkout-button {
      background-color: var(--e-global-color-3476459);
      color: var(--e-global-color-accent);
      border: 1px solid var(--e-global-color-accent);
      border-radius: 10px !important;
    }
  }
  bdi {
    color: var(--e-global-color-text);
  }
}
