body {
  p {
    margin: 0px;
  }
}
.box-shadow-1 {
  box-shadow: rgba(9, 13, 17, 0.75) 0px 20px 30px -10px;
}
.box-shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.jkit-close-menu {
  &:focus-visible {
    border: none;
  }
  &:focus {
    background: none;
  }
}

.added_to_cart {
  display: none !important;
}
.widget_wpc_filters_widget {
  .wpc-see-more-btn {
    text-decoration: underline !important;
    background: none !important;
    padding: 0px;
    border: none;
    color: var(--e-global-color-primary) !important;
    font-size: 14px;
    &:hover {
      cursor: pointer;
      color: var(--e-global-color-primary);
      text-decoration: underline !important;
    }
  }
}
