#hp-blog-block {
  .elementor-loop-container {
    .post {
      .elementor-heading-title {
        min-height: 2lh;
      }
      .elementor-widget-text-editor {
        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
#hp-categories {
  .elementor-image-box-wrapper {
    .elementor-image-box-img {
      img {
        aspect-ratio: 1;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
