#hp-blog-block {
  .elementor-loop-container {
    .post {
      .elementor-heading-title {
        min-height: 2lh;
      }
      .elementor-widget-text-editor {
        p {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
