#single-post-block {
  img {
    border-radius: 10px;
  }
  #left-banner {
    a {
      color: #fff;
    }
  }
}

#sb-related-posts-block {
  article {
    .elementor-post__title {
      a {
        min-height: 2lh;
        font-size: 18px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    .elementor-post__excerpt {
      p {
        min-height: 4lh;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
      }
    }
  }
}
